<div class="container">
  <div id="clearance" class="sign-up">
    <h2><%= t(".title") %></h2>

    <%= form_with(model: @user) do |form| %>
      <%= render partial: '/users/form', object: form %>

      <div class="submit-field my-3">
        <%= form.submit(class: 'btn btn-primary') %>
      </div>

      <div class="other-links">
        Have an account? <%= link_to "Sign in", sign_in_path %> now!
      </div>
    <% end %>
  </div>
</div>
