<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>

    <% flash.each do |key, value| %>
      <% case key %>
      <% when "success" %>
        <div class="container">
          <div class="alert alert-success" role="alert">
            <%= value %>
          </div>
        </div>
      <% when "error" %>
        <div class="container">
          <div class="alert alert-danger" role="alert">
            <%= value %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
